 
@{
    ViewData["Title"] = "Add";
}
@model Product
<h1>Ürün Ekleme</h1>
<form asp-controller="Products" asp-action="Add" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ürün İsmi :</label>
        <input class="form-control" asp-for="Name">   </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Fiyat :</label>
        <input class="form-control" asp-for="Price">
    </div>
    <div class="mb-3">
        <label asp-for="Stock" class="form-label">Stok :</label>
        <input class="form-control" asp-for="Stock">
    </div>
    <div class="mb-3">
       @* <label asp-for="Color" class="form-label">Ürün Renk :</label>
        <input class="form-control" asp-for="Color">*@
        <select class="form-select" asp-for="Color" asp-items="@ViewBag.ColorSelect"></select>
    </div>
  
     <div class="form-check">
        <input class="form-check-input" asp-for="IsPublish">
        <label class="form-check-label" asp-for="IsPublish">
          Yayınlansın mı ?
        </label>
    </div>
        <div class="mb-3 mt-3">
            <spam>Ürün Kaç Ay Satışta Kalacak?</spam>
        @foreach (var item in @ViewBag.Expire as Dictionary<string,int>)
        {
          <div class="form-check">
  <input class="form-check-input" type="radio" id="@(item.Value)Expire" asp-for="Expire" value="@item.Value">
                <label class="form-check-label" asp-for="Expire" for="@(item.Value)Expire">
    @item.Key
  </label>
</div>  }
        </div>

    <div class="form-floating">
        <textarea class="form-control" asp-for="Description" placeholder="Ürün Açıklama" id="floatingTextarea2" style="height: 100px"></textarea>
        <label asp-for="Description">Ürün Açıklama</label>
    </div>

    <div class="mb-3">
        <label asp-for="PublishDate" class="form-label">Ürün Yayınlanma Tarihi:</label>
        <input class="form-control" asp-for="PublishDate">
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Ürün Kaydet</button>
    
   




</form>

